.pinyon-script-regular {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
  }

  .playwrite-de-grund-guides-regular {
  font-family: "Playwrite DE Grund Guides", serif;
  font-weight: 400;
  font-style: normal;
  color:palevioletred;
  }

  
  /* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  align-self: center;
  width: 75%;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%
}

/* Add a card effect for articles */
.first-card {
  grid-area: 1 / 1 / span 1 / span 3;
  margin-top: 20px;
  background-color: white;
  align-self: center;
  border-color: coral;
  background-color: bisque;
  border-radius: 9px;
  height: 350px;
}

.first-card-text {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 400px 500px;
  height: 350px;

}

.card-img-left {
  max-height: 350px !important;
  max-width: 400px;

}

.card-img-left img {
  border-radius: 10px 0px 0px 10px;

  object-fit: fill;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 20px;
}

.card-title a {
  color: black;
  text-decoration: double;
}

.card-subtitle {
  font-size: 14px;
}

.card-description {
  margin-top: 10px;
  overflow: scroll;
  font-size: 12px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .grid-blog {
    grid-template-columns: 300px;
  }

  .first-column {
    grid-area: 1 / 1 / span 1 / span 1;
  }
}

.blog-img{
  width: 100%;
  height: 100%;
}

/* .blog-left{
} */

.blog-right-text {
  margin-left: 15px;
}

.blog-right-text a {
  color: black;
}

.blog-right{
  float: right;
  width: 80%;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

.source-serif-4-font {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}

.blog-holder{
  margin-top: 5%;
  padding: 2% 2% 2% 2%;
}

.nav-link {
  color: black;
}

.card-img-top img {
  object-fit: fill;
  width: 100%;
  height: 100%;

  border-radius: 9px 9px 0px 0px;
}
.card-img-top {
  max-height: 200px;

}

.card {
  border-radius: 10px;
  width: 100%;
  max-height: 400px;
}

.grid-blog {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 300px 300px 300px;
}