.pinyon-script-regular {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
  }

  .playwrite-de-grund-guides-regular {
  font-family: "Playwrite DE Grund Guides", serif;
  font-weight: 400;
  font-style: normal;
  color:palevioletred;
  }

  
  /* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  align-self: center;
  width: 75%;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%
}

/* Add a card effect for articles */
.first-card {
  background-color: white;
  margin-top: 20px;
  align-self: center;
  border-color: coral;
  background-color: bisque;
  border-radius: 9px;
  height: 350px;
  margin-left: 1%;
  margin-right: 2%
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 80%;
    padding: 0;
    align-self: center;
  }
}

.blog-img{
  width: 100%;
  height: 100%;
}

.blog-left{
  float: left;
  width: 20%;
}

.blog-right{
  float: right;
  width: 80%;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

.source-serif-4-font {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}

.blog-holder{
  margin-top: 5%;
  padding: 2% 2% 2% 2%;
}