<!-- home.html -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Playwrite+DE+Grund+Guides&display=swap" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
      <h1 class="pinyon-script-regular display-1 text-center">Breakfast of Champions</h1>
    </div>
    <ul class="nav justify-content-center playwrite-de-grund-guides-regular">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
    </ul>
    <div class="container-fluid">
      <!-- My most recent blog, should be stored in a db of some sort or a dictionary of text and cover pictures and other assets -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>